@model IEnumerable<CosmeticShopAPI.Models.UserProfile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddressPr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityPr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCodePr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preferences)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AddressPr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityPr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCodePr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preferences)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.IdUser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProfile">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProfile">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProfile">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
